
	<div id="banner" class="row">
		<div class="col-sm-12 text-center">
			<h1 id="logo">Oakland Yoga</span></h1>
			<%= link_to "Buy Classes", root_path, class:'btn btn-lg btn-primary' %>
		</div>
	</div>
	<div class="row center_section">
		<div class="col-xs-8 col-xs-push-2">
			<h3 style="text-align:center">Bookshelf</h3>
			<h5 style="text-align:center">Here is a list of books we like. Click on any title to find out more about it at Amazon.com. You can save up to 30% off of list price when you buy at Amazon.</h5>
			<br />
		</div>

		<div class="col-xs-10 col-xs-push-1">
			<div class="row center_row">
				<div class="col-sm-3 book_container">
					<a href="https://www.amazon.com/exec/obidos/ASIN/0874770823/yogacollegofindi">
						<%= image_tag "book1.jpg", class: "book" %>
					</a>
				</div>
				<div class="col-sm-3 book_container">
					<a href="https://www.amazon.com/exec/obidos/ASIN/0805210318/yogacollegofindi">
						<%= image_tag "book2.jpg", class: "book" %>
					</a>
				</div>
				<div class="col-sm-3 book_container">
					<a href="https://www.amazon.com/exec/obidos/ASIN/1565891082/yogacollegofindi">
						<%= image_tag "book3.jpg", class: "book" %>
					</a>
				</div>
				<div class="col-sm-3 book_container">
					<a href="https://www.amazon.com/exec/obidos/ASIN/0934252831/yogacollegofindi">
						<%= image_tag "book4.jpg", class: "book" %>
					</a>
				</div>
				<div class="col-sm-3 book_container">
					<a href="https://www.amazon.com/exec/obidos/ASIN/0002251043/yogacollegofindi">
						<%= image_tag "book5.jpg", class: "book" %>
					</a>
				</div>
				<div class="col-sm-3 book_container">
					<a href="https://www.amazon.com/exec/obidos/ASIN/1855382253/yogacollegofindi">
						<%= image_tag "book6.jpg", class: "book" %>
					</a>
				</div>
				<div class="col-sm-3 book_container">
					<a href="https://www.amazon.com/exec/obidos/ASIN/0553277472/yogacollegofindi">
						<%= image_tag "book7.jpg", class: "book" %>
					</a>
				</div>
				<div class="col-sm-3 book_container">
					<a href="https://www.amazon.com/exec/obidos/ASIN/0553372114/yogacollegofindi">
						<%= image_tag "book8.jpg", class: "book" %>
					</a>
				</div>
				<div class="col-sm-3 book_container">
					<a href="https://www.amazon.com/exec/obidos/ASIN/0915811006/yogacollegofindi">
						<%= image_tag "book9.jpg", class: "book" %>
					</a>
				</div>
				<div class="col-sm-3 book_container">
					<a href="https://www.amazon.com/exec/obidos/ASIN/0520043944/yogacollegofindi">
						<%= image_tag "book10.jpg", class: "book" %>
					</a>
				</div>
				<div class="col-sm-3 book_container">
					<a href="https://www.amazon.com/exec/obidos/ASIN/0915132370/yogacollegofindi">
						<%= image_tag "book11.jpg", class: "book" %>
					</a>
				</div>
				<div class="col-sm-3 book_container">
					<a href="https://www.amazon.com/exec/obidos/ASIN/0553299611/yogacollegofindi">
						<%= image_tag "book12.jpg", class: "book" %>
					</a>
				</div>
				<div class="col-sm-3 book_container">
					<a href="https://www.amazon.com/exec/obidos/ASIN/0915811332/yogacollegofindi">
						<%= image_tag "book13.jpg", class: "book" %>
					</a>
				</div>
				<div class="col-sm-3 book_container">
					<a href="https://www.amazon.com/exec/obidos/ASIN/0452009138/yogacollegofindi">
						<%= image_tag "book14.jpg", class: "book" %>
					</a>
				</div>
				<div class="col-sm-3 book_container">
					<a href="https://www.amazon.com/exec/obidos/ASIN/1563054671/yogacollegofindi">
						<%= image_tag "book15.jpg", class: "book" %>
					</a>
				</div>
				<div class="col-sm-3 book_container">
					<a href="https://www.amazon.com/exec/obidos/ASIN/0553213652/yogacollegofindi">
						<%= image_tag "book16.jpg", class: "book" %>
					</a>
				</div>
				<div class="col-sm-3 col-sm-push-3 book_container">
					<a href="https://www.amazon.com/exec/obidos/ASIN/0385303122/yogacollegofindi">
						<%= image_tag "book17.jpg", class: "book_second_last" %>
					</a>
				</div>
				<div class="col-sm-3 col-sm-push-3 book_container">
					<a href="https://www.amazon.com/exec/obidos/ASIN/0062502182/yogacollegofindi">
						<%= image_tag "book18.jpg", class: "book_last" %>
					</a>
				</div>
			</div>
		</div>
	</div>
		