<div class="container-fluid content">
	<div class="row banner">
		<div class="col-sm-12 text-center">
		<h1 id="logo">Oakland<span style="font-weight:100">Yoga</span></h1>
		<%= link_to "Buy Classes", root_path, class:'btn btn-lg btn-primary' %>
		</div>
	</div>
	<div class="row center_section">
		<div class="col-md-10 col-md-push-1 index_section">
			<div class="col-md-4 photo_pad item">
				<%= image_tag "yoga1.jpg", class:'index_image' %>
			</div>
			<div class="col-md-4 photo_pad item">
				<%= image_tag "photo.jpg", class:'index_image' %>
			</div>
			<div class="col-md-4 photo_pad item">
				<%= image_tag "yoga3.jpg", class:'index_image' %>
			</div>
		</div>
	</div>
	<div class="row center_section center_padding">
		<div class="col-md-10 col-md-push-1">
			<div class="col-md-4 photo_pad item">
				<%= image_tag "yoga4.jpg", class:'index_image' %> 
			</div>
			<div class="col-md-4 photo_pad item">
				<%= image_tag "yoga5.jpg", class:'index_image' %> 
			</div>
			<div class="col-md-4 photo_pad item">
				<%= image_tag "yoga2.jpg", class:'index_image' %> 
			</div>
		</div>
	</div>
	<div class="row contact_section">
		<div class="col-md-10 col-md-push-1">
			<div class="col-md-12">
				<div class="col-md-12">
					<h3>Contact Us</h3>
					<h5>If you have questions of would like to get in contact with us, please fill out this form</h5>
					<br />
					<div class="form-group">
						<input class="form-control" placeholder="Name">
					</div>
					<div class="form-group">
						<input class="form-control" placeholder="Email">
					</div>
					<div class="form-group">
						<textarea class="form-control" rows="7" placeholder="Your message"></textarea>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-push-3 text-center footer">
		</div>
	</div>
</div>