
	<div id="banner" class="row">
		<div class="col-sm-12 text-center">
			<h1 id="logo">Oakland <span style="color: white">Yoga</span></h1>
			<a href="www.google.com">
				<button class='btn btn-lg btn-primary'>Buy Classes </button >
			</a>
		</div>
	</div>
	<div class="row center_section">

		<div class="col-sm-10 col-sm-push-1">
			<div class="col-sm-6 photo_pad border border-radius">
				<a href="/about">
					<div class="col-sm-12 photo_pad item inner-border-radius">
						<%= image_tag "yoga1.jpg", class:'index_image_big inner-border-radius' %>
						<h3 class="label_big">ABOUT BIKRAM</br>YOGA</h3>
					</div>
				</a>
			</div>
			<div class="col-sm-6 photo_pad">
				<a href="/books">
					<div class="col-sm-6 photo_pad item border border-radius text">
						<%= image_tag "yoga4.jpg", class:'index_image inner-border-radius' %>
						<h3 class="label">BOOKS</h3>
					</div>
				</a>
				<a href="/studio">
					<div class="col-sm-6 photo_pad item border border-radius text">
						<%= image_tag "yoga5.jpg", class:'index_image inner-border-radius' %> 
						<h3 class="label_decker">OUR<br />STUDIO</h3>
					</div>
				</a>
				<a href="/positions">
					<div class="col-sm-6 photo_pad item border border-radius text">
						<%= image_tag "yoga2.jpg", class:'index_image inner-border-radius' %> 
						<h3 class="label">POSITIONS</h3>
					</div>
				</a>
				<a href="/teachers">
					<div class="col-sm-6 photo_pad item border border-radius text">
						<%= image_tag "yoga3.jpg", class:'index_image inner-border-radius' %>
						<h3 class="label">TEACHERS</h3> 
					</div>
				</a>
			</div>
		</div>
	</div>
